@use "../../commonStyles/page.sass"
.container
    background-color: white
    font-family: 'Bebas Neue', cursive
    text-align: center
    align-items: center
    height: 1000px

.testul
    text-align: left
    display: flex
    flex-direction: column
    gap: 10px
    font-size: 20px
    padding: 40px
    margin-left: 200px
    margin-right: 200px

.button
    margin-top: 20px
    padding: 14px
    background: #be1931
    color: white
    border-radius: 30px
    font-size: 23px
    font-family: 'Bebas Neue', cursive
    width: 300px

.h1class
    margin-top: 40px
